@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
html {
  scroll-behavior: smooth;
}
.App{
   display: flex;
   flex-direction: column;
   position: relative;
   gap: 40px;
   padding-bottom: 150px;
}
.AppBackGround1{
   width: 99.5%;
   height: 100vh;
   position: absolute;
}

.FontHead {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: white;
}

.FontNormal{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: white;
}
.Hemail{
  position: fixed;
  top: 60%;
  left: -130px;
  rotate: 90deg;
  font-size: 1.2em;
  color: #00B4D8;
  opacity:0.8;
}
.Hemail:hover{
  cursor: pointer;
  opacity: 1;
}

.ScrollBar{
  width: 5px;
  height: 120px;
  position: fixed;
  left: 98%;
  top: 250px;
  border-radius: 5px;
  background-color: #303030;
}
.ScrollBar>div{
  width: 100%;
  border-radius: inherit;
  background-color: #00B4D8;
}
.AMidSec{
  width: 90%;
  align-self: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.AMidText{
  font-size: 3.5em;
  text-align: center;
  color: #00B4D8;
}




@media screen and (max-width:710px) {
   .Hemail{
    display: none;
   }
   .AMidText{
    font-size: 3em;
   }
}

@media screen and (max-width:600px) {
  
   .AMidText{
    font-size: 2.5em;
   }
}

@media screen and (max-width:450px) {
  
   .AMidText{
    font-size: 2em;
   }
}